*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
}
.positions-demo {
    position: relative;
    height: 80vh; 
    border: 2px dashed black;
    margin: 20px;
    font-size: 16px; 
}

.box1 {
    width: 200px;   
    height: 150px;
    background-color: brown;
    color: white;
    position: relative;
    top: 20px;   
    left: 20px;
}
.box2 {
    width: 30%;    
    height: 25%;   
    background-color: blue;
    color: white;
    position: absolute;
    top: 10%;      
    right: 5%;
}
.box3 {
    width: 15vw;   
    height: 15vh;  
    background-color: green;
    color: white;
    position: fixed;
    bottom: 2vh;   
    right: 2vw;    
}
.box4 {
    width: 20em;     
    height: 8rem;    
    background-color: orange;
    color: black;
    position: sticky;
    top: 0;   
    margin-top: 50px;
}
.bg-image>img{
    width: 60%;
    filter: grayscale(30%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}