.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 100px 100px 100px;
   
   
}
.item{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    border: 7px solid;
    
}
.item1{
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 200px;
   
   
}
.item2{
    background-color: antiquewhite;
    grid-column-start: 1;
    grid-column-end: 6;
   
}   
.item3{
    background-color: aqua;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 6;
}
.item4{
    background-color: aquamarine;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
}
.item5{
    background-color: blue;
}
.item6{
    background-color: blueviolet;
}
.item7{
    background-color:brown;
}
.item8{
    background-color: burlywood;
}
.item9{
    background-color: cadetblue;
}