*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.nav-container{
    height: 53px;
    background-color: #f44336;
    color: white;
    display: flex;
    gap:40px;
    padding: 1px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
    box-shadow: 0 7px 6px -2px  rgba(0, 0, 0, 0.212);
   
}
.item{
    height: 100%;
    padding: 5px;
  transition: all 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
 

}
.item:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.item1 {
    background-color: white;
    color: black;
}
.item1:hover{
    background-color: rgb(233, 223, 223);
}

.bg-container{
    width: 100%;
    height: 520px;
    background-color:  #f44336;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;
    text-align: center;   
    margin-bottom: 50px;
    
}

.first-para{
    color: white;
    font-size: 4rem;
    margin-bottom: 25px;
}
.second-para{
    font-size:x-large;
    margin-bottom: 30px;
}
.bg-container>button{
    padding: 15px 35px;
    background-color: black;
    color: white;
    border: none;
    font-size: large;

}
button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.685);
    color: black;
}
.main-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    margin-bottom: 20px;
    position: relative;
}
.third-para{
    margin-right: 350px;
    margin-left: 150px;
    border: 0px solid;
    
}
.third-para>p{
    font-size: xx-large;
    margin-bottom: 40px;
}
.fourth-para>p{
    margin-bottom: 40px;
    font-weight: bold;
}
.fiveth-para>p{
    color: gray;
    line-height: 1.6;
    font-size: small;
    margin-bottom: 70px;
    
}
.main-container2{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.247);
    position: relative;
    padding: 40px 0;
   
}
.text-container{  
    margin-left: 400px; 
    margin-right: 200px;
     /* position: relative; */
}
.text-container>p{
    font-size: xx-large;
    margin-bottom: 40px;
}
.bold-text>p{
    margin-bottom: 40px;
    font-weight: bold; 
}
.small-text>p{
  
   color: rgb(128, 128, 128);
    line-height: 1.6;
    font-size: small;
    margin-bottom: 50px;    
}
.main-container3{
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container3>p{
    font-size: x-large;
    color: white;
}
.icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    top: 10%;
    margin-left: 90px;
    margin-right: 150px;
}
.icon>.fa{
    font-size: 200px;
    color:rgba(255, 0, 0, 0.719);;
}
.icon1{
 position: absolute;
  margin-left: 100px;
  top: 10%;
  
}
.icon1>.fa{
    font-size: 200px;
    color: rgba(255, 0, 0, 0.719);
}
